---
import Component from '../components';
---
<html>
  <head>
    <title>Hello world</title>
  </head>
  <body>
    <Component test="a" client:only />
    <Component test="b" client:only />
    <Component test="c" client:only />
  </body>
</html>