<section>
<ul class="font-mono text-sm flex flex-col gap-0.5">
    {
        <li>Build: { new Date().toISOString() }</li>
        <li>NODE_VERSION: { process.env.NODE_VERSION }</li>
    }
</ul>
</section>