---
const testBool = true;
---
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{testBool ? "Hey" : "Bye"}</title>
        {testBool && (<><meta name="description" content="test" /></>)}
    </head>
    <body>
      <div></div>
    </body>
</html>