---
const meta = { title: 'My App' };
---

<html>
    <head>
        <meta charset="utf-8" />

        {
            meta && <title>{meta.title}</title>
        }

        <meta name="after">
    </head>
    <body>
        <h1>My App</h1>
    </body>
</html>