---
const { title, footnotes, tables } = Astro.props;

interface Table {
    title: string;
    data: any[];
    showTitle: boolean;
    footnotes: string;
}
console.log(tables);
---

<div>
    <div>
    <h2>
        {title}
    </h2>
    {
        tables.map((table: Table) => (
        <>
            <div>
            <h3 class="text-3xl sm:text-5xl font-bold">{table.title}</h3>
            <table>
                <thead>
                {Object.keys(table.data[0]).map((thead) => (
                    <th>{thead}</th>
                ))}
                </thead>
                <tbody>
                {table.data.map((trow) => (
                    <tr>
                    {Object.values(trow).map((cell, index) => (
                        <td>
                        {cell}
                        </td>
                    ))}
                    </tr>
                ))}
                </tbody>
            </table>
            </div>
        </>
        ))
    }
    </div>
</div>